<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>

    <% include partials/navbar %>
    <% include partials/landing %>
    <% include partials/jumbotron %>
    <% include partials/cardsoffer %>
    <% include partials/carousel %>

    <!-- Scripts -->
    <% include partials/scripts %>
  </body>
</html>
