<section class="carousel-container">

  <div class="container mb-2">
    <div class="row justify-content-center text-center section-intro">
      <div class="col-12 col-md-9 col-lg-8">
        <span class="title-decorative">The Venue</span>
        <h2 class="display-4">Lorem ipsum dolor.</h2>
        <span class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, iure!</span>
      </div>
    </div>
  </div>

  <div class="carousel"
    data-flickity='{ "wrapAround": true, "autoPlay": true, "pageDots": false }'>
    <div class="carousel-cell">
      <img src="/assets/images/image4.jpg" alt="wedding image" class="img-fluid rounded" />
      <div class="carousel-caption d-none d-md-block">
        <h3>First Carousel Image</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, eligendi.</p>
      </div>
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/image2.jpg" alt="wedding image" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Second Carousel Image</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ipsa!</p>
      </div>
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/image3.jpg" alt="wedding image" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Third Carousel Image</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, qui.</p>
      </div>
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/image1.jpg" alt="wedding image" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Fourth Carousel Image</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, aperiam!</p>
      </div>
    </div>
  </div>

</section>
