<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootstrap Theme 1</title>

  <link rel="stylesheet" href="src/css/bootstrap.css">
  <link rel="stylesheet" href="src/css/styles.css">
  <link rel="stylesheet" href="src/css/flickity.min.css" media="screen">
  <link rel="stylesheet" href="src/css/font-awesome.min.css">
</head>
