<div class="jumbotron">
  <h1 class="display-4 text-center">Weddings</h1>
  <p class="lead">Your dream wedding comes to life at StoneBridge's picturesque country manor with it's impeccably kept grounds, and sweeping views of rolling hills.
                  You and your guests will celebrate in secluded natural beauty with exclusive use of this unique property.
                  Whether you decide to exchange vows by a babbling brook, pond-side, or in front of the charming manor, we want to make your dream a reality.<p>
  <p class="lead text-center">
    <a href="" class="btn btn-success btn-lg">Learn More</a>
  </p>
</div>
 
