<div class="jumbotron">
  <h1 class="display-4 text-center">Simple. Elegant. Awesome.</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac tortor dignissim convallis aenean. Nibh praesent tristique magna sit amet. Ornare massa eget egestas purus viverra accumsan in. Pellentesque habitant morbi tristique senectus et. Diam maecenas ultricies mi eget mauris pharetra et. Ultrices in iaculis nunc sed. Porttitor eget dolor morbi non arcu risus quis.</p>
  <p class="lead text-center">
    <a href="" class="btn btn-primary btn-lg">Learn More</a>
  </p>
</div>
