<section id="wrapper" class="skewed">
  <div class="layer bottom">
    <div class="content-wrap">
      <div class="content-body">
        <h1>The Wedding</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam temporibus dolore vero reiciendis atque debitis. Sequi at consequatur deserunt?</p>
      </div>
      <img class="image-top" src="./src/assets/images/landing-bottom.jpeg" alt="">
    </div>
  </div>

  <div class="layer top">
    <div class="content-wrap">
      <div class="content-body">
        <h1>The Proposal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam temporibus dolore vero reiciendis atque debitis. Sequi at consequatur deserunt?</p>
      </div>
      <img class="image-bottom" src="./src/assets/images/landing-top.jpeg" alt="">
    </div>
  </div>

  <div class="handle"></div>
</section>
